body {
  padding-top: 20px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.jumbotron{
  background-color: #3366cc;
  color: #f8f8f8;
  text-shadow: 2px 2px #000000;
}
